= link_to group_path(group) do
  %span
    = image_tag group.image.url(:medium), class: "group-image-tag"
    = group.name
  - if (current_user.role == "Leader") || (current_user.role == "Subleader")
    = link_to group_path(group), method: :delete do
      %i.fa.fa-sign-out{"aria-hidden" => "true"}
    = link_to edit_group_path(group) do
      %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}

