.content.clearfix
  = render "module/sidemenu"
  .right_content
    - @users.each do |user|
      .group_name.clearfix
        %span
          = user.name
        = link_to user_path(user), method: :delete do
          %i.fa.fa-sign-out{"aria-hidden" => "true"}
        = link_to edit_user_path(user) do
          %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
        = link_to "https://www.google.co.jp" do
          %i.fa.fa-chrome{"aria-hidden" => "true"}
        = link_to "https://www.youtube.com" do
          %i.fa.fa-youtube-play{"aria-hidden" => "true"}
      .chat_view
        - user.messages.each do |message|
          .chat.clearfix
            %span
              = current_user.name
            %p
              = message.created_at.strftime("%Y/%m/%d %H:%M:%S")
            %i.fa.fa-times{"aria-hidden" => "true"}
            %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
            %i.fa.fa-reply{"aria-hidden" => "true"}
            %h5
              = message.text
      .form_view.clearfix
        = form_for([user, @message]) do |f|
          = f.text_field :text, class: "form-field", placeholder: "テキストを入力してください"
          = f.label :image, class: "image-label" do
            %i.fa.fa-picture-o{"aria-hidden" => "true"}
          = button_tag type: "submit", class: "message-submit-btn" do
            %i.fa.fa-paper-plane{"aria-hidden" => "true"}
