.content.clearfix
  = render partial: 'module/sidemenu', locals: {groups: @groups, rooms: @rooms}
  .right_content
    .group_name.clearfix
      = render partial: 'module/group-header', locals: {group: @group}
    .chat_view
      = render partial: 'message', locals: {group: @group}
    .form_view.clearfix
      = form_for([@group, @message], :html => { :multipart => true}) do |f|
        = f.text_field :text, class: "form-field", placeholder: "テキストを入力してください"
        = f.label :image, class: "message_image_label"do
          = fa_icon 'picture-o', class: "message_icon"
          = f.file_field :image, style: "display: none"
        = button_tag type: "submit", id: "message-submit-btn", data: {disable_with: false } do
          %i.fa.fa-paper-plane{"aria-hidden" => "true"}
