%h2
  ユーザー編集
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .field
    = f.label 'Eメール'
    %br/
    = f.email_field :email, autofocus: true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .field
    = f.label 'パスワード'
    %i (変えなくていいなら空白)
    %br/
    = f.password_field :password, autocomplete: "off"
    - if @minimum_password_length
      %br/
      %em
        = @minimum_password_length
        文字まで
  .field
    = f.label '確認用パスワード'
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .field
    = f.label '現在のパスワード'
    %i (確認用)
    %br/
    = f.password_field :current_password, autocomplete: "off"
  .actions
    = f.submit "送信"
%h3 アカウントの変更
%p
  不具合が生じた場合 #{button_to "アカウント停止", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
= link_to "戻る", :back
