.chat-group-form
  %h1 チャットグループ編集
  = form_for(@group, id: 'new_groups') do |f|
    - if @group.errors.any?
      .chat-group-form__errors
      %h2
        #{@group.errors.count}件のエラーが発生しました。
        %ul
          - @group.errors.full_messages.each do |full_message|
            %li #{full_message}
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, "グループ名", class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.text_field :name, class: "chat-group-form__input", placeholder: "グループ名を入力してください"
      .chat-group-form__field.clearfix
        .chat-group-form__field--left
          = f.label :introduction, "紹介", class: "chat-group-form__label"
        .chat-group-form__field--right
          .chat-group-form__search.clearfix
            = f.text_area :introduction, class: "chat-group-form__textarea", id: "user-search-field", placeholder: "グループ紹介"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit "保存", class: "chat-group-form__action-btn", name: "commit"
