.content.clearfix
  = render "module/groupsidemenu"
  .right_content
    .facility
      .header
        %h1 施設検索
        %p お近くの公共機関、ショッピングセンターなどを紹介します。
      .new_facility.clearfix
        = link_to new_building_path do
          %h2 施設の追加
      .facility-search.clearfix
        = label :building, "施設を検索してください", class: "facility-search-label"
        = text_field :building, :facility, class: "facility-search-form"
        = button_tag type: 'submit', class: "facility-search-button" do
          %i.fa.fa-search{"aria-hidden" => "true"}
      #facility-search-result

    .facility__view.clearfix
      .facility-label
        = label :building, "検索結果", class: "search-result-label"
      .facility-result.clearfix
        - @buildings.each do |fac|
          .facility-information
            = link_to edit_building_path(fac) do
              %h2 編集
            = link_to building_path(fac), method: :delete do
              %h2 削除
            .facility__name
              %h1 施設名
              %p
                = fac.facility
            .facility__explanation
              %h1 施設説明
              %p
                = fac.explanation
            .facility__access
              %h1 アクセス
              %p
                = fac.access
            .facility__phone
              %h1 電話番号
              %p
                = fac.telephone_number
      .pagination.clearfix
        = paginate(@buildings)
