.content.clearfix
  = render partial: 'module/sidemenu', locals: {groups: @groups, rooms: @rooms}
  .right_content
    .header
      %h1 タイムライン
    .middle
      .timeline-form
        = render partial: 'timelines/timeline', locals: {timeline: @timeline}
      .timeline_view
        - @timelines.each do |timeline|
          .timeline
            .timeline-semi-wrap
              .timeline-header.clearfix
                %span
                  = image_tag timeline.user.image.url(:thumb), class: "timeline-image"
                .timeline-info
                  %h3
                    = link_to user_path(timeline.user_id) do
                      = timeline.user.name
                    = timeline.created_at.strftime("%Y/%m/%d %H:%M:%S")
              .timeline-middle
                - if timeline.image.present?
                  %h4
                    = image_tag timeline.image.url(:original), class: "timeline-image"
                - if timeline.text.present?
                  %h5
                    = timeline.text
            - if timeline.user_id != current_user.id
              - if timeline.reviews.exists?
                .timeline-retweet.clearfix
                  = link_to timeline_reviews_path(timeline) do
                    .timeline-tuner
                      %i.fa.fa-retweet{"aria-hidden" => "true"}
                      %span
                        = timeline.reviews.count
              = form_for([timeline, @review]) do |f|
                .timeline-review-form
                  = f.text_field :text, class: "review__form", placeholder: "知り合いのタイムラインにコメントしよう"
                  = f.label :image, class: "review_image_label" do
                    = fa_icon 'picture-o', class: "review_icon"
                    = f.file_field :image, style: "display: none", class: "review_image"
                  = button_tag type: "submit", class: "review_submit" do
                    %i.fa.fa-paper-plane{"aria-hidden" => "true"}
            - if timeline.user_id == current_user.id
              .timeline-operate.clearfix
                .timeline-delete
                  = link_to timeline_path(timeline), method: :delete do
                    %i.fa.fa-times{"aria-hidden" => "true"}
                .timeline-edit
                  = link_to edit_timeline_path(timeline) do
                    %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
                - if timeline.reviews.exists?
                  .timeline-retweets
                    = link_to timeline_reviews_path(timeline) do
                      %i.fa.fa-retweet{"aria-hidden" => "true"}
                      %span
                        = timeline.reviews.count

    .footer
